PORT=3000

RABBITMQ_HOST=your-rabbitmq-host
RABBITMQ_PORT=5672
RABBITMQ_USER=your-rabbitmq-user
RABBITMQ_PASSWORD=your-rabbitmq-password
RABBITMQ_VHOST=/

QUEUE_DINNER_REGISTERED=laboratorio_1
QUEUE_REWARD_PROCESSED=laboratorio_reward_processed